<form class="col s8">
    <br />
    <h4>Inventario Goal System</h4>
    <br />
    <div class="row">
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Fecha Caducidad</th>
                    </tr>
                </thead>
                <tbody id="tinventario">
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="input-field col s4">
            <input id="nombre" type="text" class="validate">
            <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col s4">
            <input id="tipo" type="text" class="validate">
            <label for="tipo">Tipo</label>
        </div>
        <div class="input-field col s4">
            <input id="fecha" type="date" class="validate">
            <label for="fecha">Fecha Caducidad</label>
        </div>
        <div class="input-field col s12">
            <a id="insertar" class="waves-effect waves-light btn" onclick="insertar()">A&ntilde;adir elemento</a>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="nombreElemento" type="text" class="validate">
            <label for="nombreElemento">Nombre</label>
        </div>
        <div class="input-field col s6">
            <a id="sacar" class="waves-effect waves-light btn" onclick="sacar()">Sacar elemento</a>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        getInventario();
    });

    function getInventario() {
        $.ajax(
            {
                url: 'api/inventario/GetInventario',
                type: "POST"
            })
            .done(function (data) {
                $('#tinventario').html('')
                $.each(data, function (i, item) {
                    $('<tr>').append(
                        $('<td>').text(item.Nombre),
                        $('<td>').text(item.Tipo),
                        $('<td>').text(item.FechaCaducidad),
                        $('<td>').text(item.Caducado ? 'Caducado' : '')
                    ).appendTo('#tinventario');
                });
            })
            .fail(function (data) {
                alert("error");
            });
    }

    function sacar() {
        var nombre = $('#nombreElemento').val();
        var regex = /^[A-Za-z0-9 '.-]+$/;

        if (regex.test(nombre)) {
            $.ajax(
                {
                    url: 'api/inventario/SacarElemento?nombre=' + nombre,
                    type: "POST"
                })
                .done(function (data) {
                    alert(data);
                    getInventario();

                })
                .fail(function (jqXHR, textStatus, err) {
                    alert('Error: ' + err);
                });
        } else {
            alert('Datos incorrectos!');
        }

    }

    function insertar() {
        var nombre = $('#nombre').val();
        var tipo = $('#tipo').val();
        var fecha = $('#fecha').val();

        var regex = /^[A-Za-z0-9 '.-]+$/;

        if (regex.test(nombre) && regex.test(tipo) && regex.test(fecha)) {
            $.ajax(
                {
                    url: 'api/inventario/InsertarElemento?tipo=' + tipo + '&nombre=' + nombre + '&fecha=' + fecha,
                    type: "POST"
                })
                .done(function (data) {
                    if (data) {
                        getInventario();
                    }
                    else {
                        alert("El elemento no se ha insertado");
                    }
                })
                .fail(function (jqXHR, textStatus, err) {
                    alert('Error: ' + err);
                });
        } else {
            alert("Datos incorrectos!");
        }
    }
</script>
